# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
#LabSheet Exceptions
LabSheet-5/q1
LabSheet-5/q2
LabSheet-5/q3
LabSheet-5/q4
LabSheet-5/q5
LabSheet-5/q6
LabSheet-5/q7
LabSheet-5/q8
LabSheet-5/q9
LabSheet-5/q10
LabSheet-5/q11
LabSheet-5/q12
LabSheet-5/q13-a
LabSheet-5/q13-b
LabSheet-5/q13-c
LabSheet-5/q13-d
LabSheet-5/q13-e 
LabSheet-5/q13-f
LabSheet-7/q1
LabSheet-7/q2
LabSheet-7/q3
LabSheet-7/q4
LabSheet-7/q5
LabSheet-7/q6
LabSheet-7/q7
LabSheet-7/q8
LabSheet-6/q1
LabSheet-6/q2
LabSheet-6/q3
LabSheet-6/q4
LabSheet-6/q5
LabSheet-6/q6

LabSheet-7/tempCodeRunnerFile
LabSheet-7/tempCodeRunnerFile.c
LabSheet-6/tempCodeRunnerFile
LabSheet-6/tempCodeRunnerFile.c
LabSheet-6/q8
